<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="diff_drive_colors">

  <!--Color Properties-->
  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  <material name="red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>

  <gazebo reference="base_link">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="right_wheel">
    <material>Gazebo/Red</material>
  </gazebo>

  <gazebo reference="left_wheel">
    <material>Gazebo/Red</material>
  </gazebo>

  <gazebo reference="front_caster_wheel">
    <material>Gazebo/Red</material>
  </gazebo>

  <gazebo reference="back_caster_wheel">
    <material>Gazebo/Red</material>
  </gazebo>
</robot>
